<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light navbar-collapsed">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">
            <ul class="nav pcoded-inner-navbar ">

                {% with total_items=cart.cart|length %}
                {% if total_items > 0 %}
                <li class="nav-item">
                    <a href="{% url 'cart:cart-detail' %}" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-shopping-cart"></i>
                        </span>
                        <span class="pcoded-mtext">Cart <span class="mx-2 text-danger">{{ cart.cart|length }}</span></span>
                    </a>
                </li>
                {% endif %}
                {% endwith %}

                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link ">
                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                        <span class="pcoded-mtext">Products</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li {% if not category %}class="selected" {% endif %}>
                            <a href="{% url 'shop:product-list' %}">All</a>
                        </li>
                        {% for c in categories %}
                        <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
