{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            {% block title %}{% endblock title %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="description" content="" />
        <meta name="keywords" content="">

        <!-- Font -->
        <link rel="preload" href="{% static 'layout/fonts/poppins/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="{% static 'layout/fonts/poppins/pxiEyp8kv8JHgFVrJJfecg.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="{% static 'layout/fonts/poppins/pxiEyp8kv8JHgFVrJJnecmNE.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="{% static 'layout/fonts/poppins/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="{% static 'layout/fonts/poppins/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="{% static 'layout/fonts/poppins/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="{% static 'layout/fonts/poppins/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="{% static 'layout/fonts/poppins/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">

        <!-- Icons -->
        <link rel="preload" href="{% static 'layout/fonts/feather.eot' %}" as="font" crossorigin="anonymous">
        <link rel="preload" href="{% static 'layout/fonts/feather.ttf' %}" as="font" type="font/ttf" crossorigin="anonymous">
        <link rel="preload" href="{% static 'layout/fonts/feather.woff' %}" as="font" type="font/woff" crossorigin="anonymous">
        <link rel="preload" href="{% static 'layout/fonts/feather.svg' %}" as="image" type="image/svg+xml" crossorigin="anonymous">

        <!-- <link rel="preload" href="{% static 'layout/css/plugins/animate.min.css' %}" as="style"> -->
        <link rel="stylesheet" href="{% static 'layout/css/base.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'layout/css/style.css' %}"> -->

        <!-- Specific CSS goes HERE -->
        {% block stylesheets %}{% endblock stylesheets %}

    </head>
    <body>

        <!-- [ Pre-loader ] start -->
        <div class="loader-bg">
            <div class="loader-track">
                <div class="loader-fill"></div>
            </div>
        </div>
        <!-- [ Pre-loader ] End -->

        {% include 'includes/sidebar.html' %}

        {% include 'includes/navigation.html' %}

        <div class="pcoded-main-container">
            <div class="pcoded-content">
                {% block content %}{% endblock content %}
            </div>
        </div>

        {% include 'includes/scripts.html' %}

        <!-- Specific Page JS goes HERE  -->
        {% block javascripts %}{% endblock javascripts %}

    </body>
</html>
