{% extends 'layout/base.html' %}

{% load static %}

{% block title %} Shoe Shop - {% if category %}{{ category.name }}{% else %}Products{% endif %} {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'shop/css/product.min.css' %}">
{% endblock stylesheets %}

{% block content %}
<div id="main" class="product-list">
    <h1 class="font-weight-normal text-center">{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    <div id="product-list" class="d-flex justify-content-center flex-wrap">
        {% include 'shop/product_list_ajax.html' %}
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="{% static 'shop/js/pagination.js' %}" charset="utf-8"></script>
{% endblock javascripts %}
