{% extends 'layout/base.html' %}

{% load static debugger_tags %}

{% block content %}
<div id="main" class="product-list">
    <h1 class="font-weight-normal text-center">{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    <div id="product-list" class="row justify-content-center flex-wrap">
        {% for product in product_list %}
        <div class="text-center m-2">
            {% with  product.first_photo as first_photo %}
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if first_photo %}{{ first_photo.0.image.url }}{% else %}{% static 'shop/img/no_image.png' %}{% endif %}" width="300">
            </a>
            {% endwith %}
            <p>{{ product.name }}<br>
            ${{ product.price }}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
