{% load static %}

{% for product in object_list %}
    <div class="text-center">
        {% with  product.first_photo as first_photo %}
        <a href="{{ product.get_absolute_url }}">
            <picture>
                <source media="(max-width: 576px)" srcset="{% if first_photo %}{{ first_photo.0.image_mobile.url }}{% else %}{% static 'shop/img/no_image.png' %}{% endif %}">
                <source media="(max-width: 1200px)" srcset="{% if first_photo %}{{ first_photo.0.image_tablet.url }}{% else %}{% static 'shop/img/no_image.png' %}{% endif %}">
                <img src="{% if first_photo %}{{ first_photo.0.image.url }}{% else %}{% static 'shop/img/no_image.png' %}{% endif %}" width="300" height="375" alt="{{ product.name }}">
            </picture>
        </a>
        {% endwith %}
        <p>{{ product.name }}<br>
        ${{ product.price }}
        </p>
    </div>
{% empty %}
<div class="text-center m-2">
    <p>Sorry, no records in this list.</p>
</div>
{% endfor %}
